{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porsche</title>
    <link rel="icon" type="imagenes/jpg" href="{% static "../static/imagenes/logo.jpg" %}">
    <link rel="stylesheet" href="{% static "Motor_1.css" %}">

</head>
<div>
    <a href="{% url "Porsche" %}" class="Atras" >
        <img src="{% static "Imagenes/Atras.png" %}" alt="Atras">
    </a>
</div>

<body>
    <h1 class="Motor" >Motor</h1>
    <img src="{% static "imagenes/Motor.PNG" %}" class="Img_Motor">

    <p class="Texto_Motor">
        Las cilindradas de los Porsche 911 de 2005 varían desde 3.6 hasta 3.8 litros, dependiendo del modelo y configuración del motor.El Porsche 911 de 2005 es un vehículo que encapsula la evolución de un ícono automotriz con diseño atemporal y prestaciones mecánicas avanzadas. Esta generación, denominada 997, ofrece mejoras significativas en términos de rendimiento, confort y tecnología respecto a sus predecesores. Entre sus características destacan:
        Motor trasero de seis cilindros opuestos.
        Disponible en variantes atmosféricas y turboalimentadas.
        Transmisión manual de seis velocidades o automática Tiptronic S.
        Un interior lujoso y ergonómico.
        Sistemas avanzados de estabilidad y tracción 
          
          </article>

                
    
</header>
</body>
</html>